body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1, h3 {
    color: #00bcd4;
}

a {
    color: #ff4081;
    text-decoration: none;
}

div {
    margin-bottom: 20px;
}
